

<div class="FDItem" (click)="onClick()">
  <div class="fdItem">
    <img [src]="array.imageUrl" width="100px" height="100px" alt="icon"
         style="max-width: 100%"
    />
    <h3 class="fdTitle">{{ array.name }}</h3>
    <div>Price: {{ array.price }} KGS</div>
  </div>
</div>



