<h4>Order details:</h4>
<div class="order">
  <img [src]="array.imageUrl" alt="" width="100px" height="80px">
    <p>
      <span>{{array.name}} </span>
      <span> X {{array.count}}</span>
      <span> {{array.price}} KGS</span>
    </p>

  <div class="order-price">
    <p>
      <span>Total price: </span>
      <strong>{{getPrice()}}</strong> KGS
    </p>
  </div>


</div>
