<H1>Tacco bell</H1>

<div class="half-container">
  <app-order
    *ngFor="let order of arrayOrders"
    [array]="order"
    (delete)="deleteOrder()"
  ></app-order>
</div>

<div class="container-half">
  <app-food-and-drinks
    *ngFor="let products of foodAndDrinks; let  i = index"
    [array]="products"
    (add)="onClickOrder(i)"
  ></app-food-and-drinks>
</div>



